{% extends "base.html" %} {% block content %}
<div id="create_formula">
  <form action="{{ url_for('formula.create_formula') }}" method="POST">
    <input type="text" name="name" placeholder="name" />
    <input type="submit" value="create formula" />
  </form>
</div>
<h3>General formulas</h3>
<div class="formula_list">
  {% for formula in formulas_general %}
  <div class="formula_container">
    <span class="formula_name"> {{formula.name}} </span>
    <div class="formula">{% include "formula/script.html" %}</div>
  </div>
  {% endfor %}
</div>
<h3>Custom formulas</h3>
<div class="formula_list">
  {% for formula in formulas_custom %}
  <div class="formula_container">
    <span class="formula_name"> {{formula.name}} </span>
    <div class="formula">{% include "formula/script.html" %}</div>
  </div>
  {% endfor %}
</div>

{% endblock content %} {% block script %}
<script src=" {{ url_for('static', filename='js/script_f.js') }} "></script>
{% endblock %}
