{% extends "base.html" %}

{% block content %}
<div>
    <a href="{{ url_for('home.add_row', n_max_col=n_max_col) }}">add a row</a>
    <a href="{{ url_for('home.add_column', n_max_col=n_max_col) }}">add a column</a>
    <table>
        {% for col_forms in row_forms %}
        <tr>
            {% for col_form in col_forms %}
            <td>
                    {{ col_form.value }}
            </td>
            {% endfor %}    
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock content %}