{% extends "base.html" %} {% block title %} TABLES - {{collection.name |
upper()}} {% endblock title %} {% block content %}
<div>
  <h3>{{collection.name}}</h3>

  <a
    href="{{ url_for('collection.delete_collection', collection_id=collection.id) }}"
    >delete collection</a
  >
</div>
<div id="create_table">
  <form
    action="{{ url_for('table.create_table', collection_id=collection.id) }}"
    method="POST"
  >
    <input type="text" name="name" placeholder="name" />
    <input type="submit" value="create table" />
  </form>
</div>
<div class="table_list">
  {% for table in tables %}
  <div class="table_container">
    <span class="table_name">
      <h4>{{table.name}}</h4>
    </span>
    <div class="table">
      {% if table.param_names != None and table.n_col > 0%}
      <div>
        <form
          action="{{ url_for('table.add_record', collection_id=collection.id, table_id=table.id, focused=1) }}"
          method="POST"
        >
          {% for field in table.param_names.split('.')%}
          <input type="text" name="{{field}}" placeholder="{{field}}" />
          {% endfor %}
          <input type="submit" value="add record" />
        </form>
      </div>
      {% endif %}
      <div style="width: 100%; height: 400px">
        <a
          href="{{ url_for('table.delete_table', table_id=table.id, collection_id=collection.id) }}"
          >delete table</a
        >
        <a
          href="{{ url_for('table.view_table', table_id=table.id, collection_id=collection.id) }}"
          target="_blank"
          >focus</a
        >
        {% if table.formula_name == "" %}
        <form
          action="{{ url_for('table.choose_formula', collection_id=collection.id, table_id=table.id) }}"
          method="POST"
        >
          <select name="formula_name">
            {% for formula in formulas %}
            <option value="{{formula.id}}">{{formula.name}}</option>
            {% endfor %}
          </select>
          <input type="submit" value="chose" />
        </form>
        {%else%}
        <form
          action="{{ url_for('table.add_records', collection_id=collection.id, table_id=table.id, focused=0) }}"
          method="POST"
          enctype="multipart/form-data"
        >
          <input type="file" name="filename" />
          <input type="submit" value="load from csv" />
        </form>
        {% include "table/_table.html" %}{%endif %}
      </div>
    </div>
  </div>

  {% endfor %}
</div>
<script
  type="text/javascript"
  scr="{{ url_for('static', filename='js/script.js') }}"
></script>

{% endblock content %} {% block script %}
<script src=" {{ url_for('static', filename='js/script_t.js') }} "></script>
<script>
  var table2excel = new Table2Excel();

  document.getElementById("export").addEventListener("click", function () {
    table2excel.export(document.querySelectorAll("table"));
  });
</script>
{% endblock %}
